*{margin:0;padding:0}
html{float:left;width:100%}
body{float:left;width:100%;font-family:'open_sansregular';padding-right:0!important;background-color:#ececec!important}
a{text-decoration:none;outline:none!important;outline-offset:0px!important; box-shadow:none !important;}
p{font-size:13px;color:#575454}
button{outline:none!important}
select{font-size:12px!important;-moz-appearance:none;-webkit-appearance:none;appearance:none;background-image:url(../img/caret-down.png)!important;background-position:97% 11px;background-repeat:no-repeat;background-size:9px;border-radius:0!important;box-shadow:none!important;cursor:pointer;padding:6px!important}
.wrapper{float:left;width:100%;overflow:hidden}
.headtitle{font-size: 36px;color: #ff0000; padding: 15px; border: 1px solid #ccc; margin: 15px 0px;}