@media only screen and (max-width:1343px) {
.sttus_tble ul > li{margin-bottom:5px;}	
.innerset {width: 40%;}
.inrset.prnt h2 {font-size: 18px;}
}
@media only screen and (max-width:1240px) {
.col-md-3.col-sm-6.col-xs-12.job-info-cust-width{width: 32.7%;}
#top_iput_btn {width:100%;}
.mag_cont .maintabset #myTabs li {width: 33%;margin-bottom: 5px;}
}
@media only screen and (max-width:1230px) {
.inactve::before {left: 30%;}
.actve::before {left: 30%;}	
.rev_incm {left: 35px;}
.clk_zom img {min-height: 220px;max-height: 200px;}
.lstgph_view #myTabs {width: 40%;}
}
@media only screen and (max-width:1080px) {
.order_recev_width {width: 33.3%;margin: 15px 0px;}
}
@media only screen and (max-width:991px) {
.respo_sidbar {display: block;padding: 4px 22px;margin-top: 103px;}
.wrapper .content-wrapper{margin-top: 143px;}
.respo_sidbar a{float: left;}
.respo_sidbar a img{width: 25px;}
.wrapper .content-wrapper, .wrapper .main-footer, .wrapper .main-header {margin-left: 0px;}
.profile-img-set {padding: 5px;}
.profil_persnal-details {margin-top: 65px;}
body{background-color: #fff !important;}
.content-wrapper, .main-footer, .main-header{margin-right: 0px !important;}
.tble_forms_data li{width: 50%;}
.comm_section_details{margin-top: 0px;box-shadow: none;min-height: auto;}
.main_data_section{margin-bottom: 38px;}
.innerset {width: 50%;}
.bar_shw_bck {padding: 25px 0px;margin-bottom: 10px;}
.adm_seting .innerset {width: 50%;}
.id_bar_min_hei{min-height: 190px !important;}
.print_act_txt{margin-top: -90px;}
}
@media only screen and (max-width:767px) {
.navbar-header.navbar_logo .navbar-brand img{width:80px;}	
.after-before-login-respo { display: inline-flex; position: absolute; right: 15px; top: 5px;} 	
#mainsidebar.main-sidebar{top: 100px;}
.inactve::before{left: 20%;}
.actve::before{left: 20%;}
.rt_top_new {margin-bottom: 10px;}
.setting_blogs_form {float: left;width: 100%;max-width: 100%;margin: 0;display: initial;}
.half-width .box-title h1 {font-size: 22px;}
.half-width .box-title h3 {font-size: 20px;}
.maintabset.ordtod #myTabs li {width: 33%;margin-bottom:10px;}
.col-md-3.col-sm-6.col-xs-12.job-info-cust-width{padding-right: 15px;width: 50%;}
#assigned_personnel_popups .modal-dialog{width: 100% !important;padding: 10px;margin: 0px !important;}
.content-wrapper, .main-footer, .main-header{margin-top: 70px;}
.navbar_logo .navbar-brand img{width: 55px;}
.navbar-toggle{background-color: #e2ab3e;padding: 8px 7px;margin-top: 20px;margin-right: 0px;margin-bottom: 0px;}
.navbar-toggle .icon-bar{width: 26px;height: 3px;background-color: #fff;}
.modal-dialog{margin: 19px auto auto;}
.drop_down_search{position: absolute !important;background-color: #fff !important;border: 1px solid #bfbfbf !important;}
.lfnopadd{padding:0px !important;}
.rtnopadd{padding:0px !important;}
.setng_pg_bakg {margin-bottom: 25px;}
.innerset {width: 60%;}
#order1 .statrpt .form-group {margin-bottom: 10px;}
#order2 .statrpt .form-group {margin-bottom: 10px;}
#order3 .statrpt .form-group {margin-bottom: 10px;}
.nodis{display:none;}
.graph-sect.pie_chat img {float: right;margin-right:0px;}
#day1 .csh_dis{width:50%;}
#respn_col_sect .col-xs-12 {width: 50%;}
#dash_col_sect .col-xs-12 {width: 33%;}
.bar_shw_bck {padding: 30px 0px;}
.res_padd{margin-bottom:10px;}
#pefm_report{padding: 0px;}
.wid_auto {width: 100%;}
.tohdset .input-group , .form-group{margin-bottom:5px;}
.adm_seting .innerset {width: 70%;}
#pin_cod_wdth .col-xs-12{width:50%;}
#respn_col_sect .form-group {margin-bottom: 15px;}
#top_iput_btn .form-group {margin-bottom: 10px;}
.lfnopadd_min{padding: 0px !important;}
.rtnopadd_min{padding: 0px !important;}
.res_dis_non{display: none;}
.carosel_img_res img{width: 200px;float: none;margin: 0 auto;margin-bottom: 25px;}
.lstgph_view #myTabs {width: 100%;}
.serch_btn {margin-top: 0px;}
.tot_ordr_rved {margin: 15px 0px;}
.main-header.navbar .tophed {float: right;width: auto;padding: 20px 15px 0 0;position: relative;top: 15px;}
.navbar-toggle-set{display: block;}
.togl-click{display: none !important;}
.togl-after-click{display: block !important;transform: rotate(180deg);}
.respo_sidbar{padding: 4px 12px;}
.header_btn_input_search {float: right;width: 50%;}
.header_btn_input_search.usrsrch .col-md-10.pull-right {width: 100%;}
}
@media only screen and (max-width:700px) {
.modal-dialog{padding:10px;}
.drop_down_search::after{transform: rotate(45deg);top: -5px;right: 15px;}
.drop_down_search{top: 45px !important;right: 9px !important;min-width: 230px !important;}
.settings .maintabset #myTabs li {width: 33%;margin-bottom: 5px;}
.nofi_mess {width: 80%;}
.drvr_details {width: 250px;}
.order_recev_width {width: 50%;}
}
@media only screen and (max-width:640px) {
.tble_forms_data li{width: 100%;}
.minlg_wdth_pop .modal-dialog {width: 100%;}
}
@media only screen and (max-width:600px) {
.login_sign_all_wraper {padding: 0px 15px;}	
.login_sign_head span img{width: 200px;}
.maintabset.ordtod #myTabs li {width: 50%;}
.login_sign_all_wraper{position: fixed;overflow: scroll;}
.logi_sign_main_page{max-width: 100%;position: relative;left: 0px;top: 0px;transform: inherit;margin-top: 25px;}
.login_sign_head h4{font-size: 17px;margin-top: 12px;}
.rev_incm {position: initial;margin-bottom: 25px;}
.graph-sect.pie_chat img {float: none;margin-right: auto;}
#respn_col_sect .col-xs-12 {width: 100%;}
#dash_col_sect .col-xs-12 {width: 100%;}
.bar_shw_bck {float: left;width: 100%;}
.res_padd{padding:0px;}
.respon_colr_bar {position: relative;top: 0px;left: 0;margin-bottom: 10px;}
.adm_seting .innerset {width: 100%;}
#respn_col_sect .mar_tp_box {margin-top: 0px;}
.respn_marg{margin: 0px !important;}
.botton_btn_group {margin-top: 15px;}
.drvr_details {width: 100%;}
.mid_section {width: 100%;}
.id_bar_min {min-height: 170px !important;}
.succes_popups p {font-size: 14px;}
.bar_min_heigt {min-height: auto;}
.minfrm .col-xs-12{margin-bottom:5px;}/* dashboard */
}
@media only screen and (max-width:540px) {
.inactve::before{left: 16%;}
.actve::before{left: 16%;}
.padd-zero .botton_btn_group .btn_cmn_cancel_popups{margin-right:15px;}
.maintabset #myTabs li a {font-size: 14px;}
.col-md-3.col-sm-6.col-xs-12.job-info-cust-width{width: 100%;}
.header_btn_input_search_new{width: 100%;}
.header_btn_input_search{margin-bottom: 0px;}
.header_btn_input_search .col-xs-6{width: 100%;margin-bottom: 9px;}
.header_btn_input{width: 100%;}
.comm_section_heading_new h4{margin-top: 0px;}
.back_btn{padding: 2px 5px !important;font-size: 13px !important;}
.innerset {width: 100%;}
.nofi_mess {width: 100%;}
.uptexthed {font-size: 18px;}
.uptexthed::before {width: 75px;}
.uptexthed_on {font-size: 18px;}
.uptexthed_on::before {width: 120px;}
.header_btn_input_search {float: left;width: 100%;margin: 8px 0 5px 0 !important;}
}
@media only screen and (max-width:500px) {
.addrivsect .profil-details-data {max-width: 100%;box-shadow: 0px 0px 0px #ccc;padding: 0px;margin-bottom: 0px;}
.cmn_btn_in, .cmn_cancel_btn_in, .btn_cmn_popups, .btn_cmn_cancel_popups{font-size: 14px !important;padding: 6px 10px !important;}
.cmn_btn_in img {width: 17px}
.comm_section_heading h4 {font-size: 16px;}
#gencode, #barcode, #chang_password, #swich, #cancel, #reasign{padding:0px !important;}
.print_txt {font-size: 15px;}
.btn_cmn_popups img {width: 18px;}
.hf_width {width: 100%;margin-bottom:10px;}
.profile-img-set .picset {width: 100px;height: 100px;}
.profil_persnal-details {margin-top: 65px;}
.maintabset.myord #myTabs li {width: 100%;margin-bottom: 5px;}
.notification_blog_data h4 {font-size: 14px;}
.setting_blogs_wrap .setting_blogs_form {margin-bottom: 15px;}
.showdetls.qunty .innerset{width: 100%;}
.inrset.prnt h2 {font-size: 16px;}
.navbar-toggle-set{display: block;}
.togl-click{display: none !important;}
.togl-after-click{display: block !important;transform: rotate(180deg);}
.respo_sidbar{padding: 4px 12px;}
.navbar-toggle-set .nav-item .nav-link{margin-right: 11px !important;}
.main-sidebar, .main-sidebar::before{margin-left: -520px;}
#mainsidebar.main-sidebar{width: 100%;}
.cmn_btn{font-size: 14px !important;padding: 6px 10px !important;}
.cmn_cancel_btn{font-size: 14px !important;padding: 6px 10px !important;}
.modal-dialog{padding: 0px 10px;width: 100% !important;}
.navbar-header .navbar-brand img{width: 58px;}
.navbar-brand{padding-left: 0px !important; }
.after-before-login-respo{margin-top: 13px;}
.main_data_section {margin-bottom: 55px;}
.tp_min_txt{font-size: 20px;}
.tp_mid_txt{font-size: 16px;}
.tp_no_txt {font-size: 24px;}
.setng_pg_bakg {min-height: 200px;}
.bar_chart_snd img {width: 270px;}
.rev_incm {font-size: 14px;}
.rev_incm_amt {font-size: 20px;}
.asin_dvr_namno {padding: 15px 0 0px;}
.bar_shw_bck {padding: 25px 0;min-height: auto;float: left;width: 100%;}
.asin_pick_dvr {font-size: 16px;}
.respon_colr_bar .inl_colr{margin-bottom: 10px;}
#pin_cod_wdth .col-xs-12{width:100%;}
}
@media only screen and (max-width:440px) {
.navbar-header.navbar_logo .navbar-brand img{width:50px;}	
.after-before-login-respo {top: 0px;}	
.maintabset.ordtod #myTabs li {width: 100%;}
.modal-header .close{margin-top: -5px;}
.comm_popups .modal-header .modal-title{font-size: 14px;}
.bld_txt{font-size: 17px;}
.respo_sidbar {margin-top: 73px;}
.wrapper .content-wrapper {margin-top: 114px;}
.inl_colr{margin-bottom: 5px;}
.order_recev_width {width: 100%;margin: 15px 0px;}
#mainsidebar.main-sidebar {top: 70px;}
.main-header.navbar .tophed{top: 5px;}
}
@media only screen and (max-width:414px) {
.maintabset #myTabs li :not(*:root) {width: 100%;margin-bottom:5px;max-width: 100%;} 
.maintabset #myTabs :not(*:root) {width: 100%;max-width: 100%;} 
.red_color_txt {font-size: 14px;}
.bar_chart_snd img {width: 250px;}
.botton_btn_group a{margin-bottom: 5px;}
.cmn_btn_in, .cmn_cancel_btn_in, .btn_cmn_popups ,.btn_cmn_cancel_popups{margin-bottom: 5px;}
}
@media only screen and (max-width:400px){
.addrivsect .botton_btn_group .btn_cmn_popups{margin-bottom:10px;}
.pincode_tp_head {font-size: 15px;margin-bottom: 15px;width:100%;}
.lstgph_view #myTabs li {width: 100%;margin-bottom: 5px;}
.odr_repor_tb #myTabs li {width: 100%;margin-bottom: 5px;}
}
@media only screen and (max-width:340px){
.btn_cmn_cancel_popups{margin-bottom: 5px !important;}
}