*{margin:0;padding:0}
html{float:left;width:100%}
body{float:left;width:100%;font-family:'open_sansregular';padding-right:0!important;background-color:#ececec!important}
a{text-decoration:none;outline:none!important;outline-offset:0px!important; box-shadow:none !important;}
p{font-size:13px;color:#575454}
button{outline:none!important}
select{font-size:12px!important;-moz-appearance:none;-webkit-appearance:none;appearance:none;background-image:url(../img/caret-down.png)!important;background-position:97% 11px;background-repeat:no-repeat;background-size:9px;border-radius:0!important;box-shadow:none!important;cursor:pointer;padding:6px!important}
.wrapper{float:left;width:100%;overflow:hidden}
.form-group{margin-bottom:12px;float:left;width:100%}
.form-group label{font-family:'open_sanssemibold';font-weight:400!important;font-size:14px}
.form-group label span{color:#f20b0b;margin-left:1px}
.form-group .form-control { height: auto; border-radius: 8px; padding: 8px 6px; font-size: 14px; background-color: #eef0f1; border: 1px solid #eef0f1 !important; box-shadow: none !important; color:#333 !important;background-clip: inherit; }
.form-group .form-control:hover,.form-group .form-control:focus{box-shadow:none;border-color:#ccc}
.botton_btn_group{float:left;width:100%;text-align:center;margin:15px 0}
.input-group .form-control{height:32px;border-radius:0;padding:6px;font-size:12px}
.input-group .input-group-btn{height:100%}
.input-group .input-group-btn .btn{height:100%;background-color:#e1e1e1;border-radius:0;border-color:#ccc}
.input-group .form-control:hover,.input-group .form-control:focus{box-shadow:none;border-color:#ccc}
textarea.form-control{height:75px!important;resize:none}
.modal{z-index:99999!important}
.login_sign_form{float:left;width:100%}
.login_sign_head{float:left;width:100%;margin-bottom:15px;text-align:center;border-bottom:1px dashed #010101}
.login_sign_head span{float:left;width:100%}
.login_sign_head span img{width:120px;margin:0 auto}
.login_sign_head h4{float:left;width:100%;font-family:'open_sansbold';font-size:20px;margin-top:25px;color:#2cbddc;}
.form_btn{float:left;width:100%;text-align:center;margin-top:15px}
.form_btn .btn:nth-child(2){margin-left:5px}
.cmn_btn{background-color:#2cbddc;border-radius:0!important;color:#fff!important;font-size:16px!important;padding:6px 18px!important;-webkit-transition:.5s;-moz-transition:.5s;-o-transition:.5s;transition:.5s}
.cmn_btn i{margin-right:5px}
.cmn_btn:hover,.cmn_btn:focus{background-color:#174b68;color:#fff;-webkit-transition:.5s;-moz-transition:.5s;-o-transition:.5s;transition:.5s}
.cmn_cancel_btn{background-color:#174b68;border-radius:0!important;color:#fff!important;font-size:16px!important;padding:6px 18px!important;-webkit-transition:.5s;-moz-transition:.5s;-o-transition:.5s;transition:.5s}
.cmn_cancel_btn i{margin-right:5px}
.cmn_cancel_btn:hover,.cmn_cancel_btn:focus{background-color:#2cbddc;color:#fff;-webkit-transition:.5s;-moz-transition:.5s;-o-transition:.5s;transition:.5s}
.login_sign_head p{float:left;width:100%;font-size:14px}
.cmn_btn_in{background-color:#fd9c42;border-radius:0!important;color:#fff!important;font-size:15px!important;padding:5px 12px!important;-webkit-transition:.5s;-moz-transition:.5s;-o-transition:.5s;transition:.5s}
.cmn_btn_in i{margin-right:5px}
.cmn_btn_in img{float:left;width:19px;margin-top:2px}
.cmn_btn_in:hover,.cmn_btn_in:focus{background-color:#2cbddc;color:#fff;-webkit-transition:.5s;-moz-transition:.5s;-o-transition:.5s;transition:.5s}
.cmn_cancel_btn_in{background-color:#403f3d;border-radius:0!important;color:#fff!important;font-size:15px!important;padding:5px 12px!important;-webkit-transition:.5s;-moz-transition:.5s;-o-transition:.5s;transition:.5s}
.cmn_cancel_btn_in i{margin-right:5px}
.cmn_cancel_btn_in:hover,.cmn_cancel_btn_in:focus{background-color:#174b68;color:#fff;-webkit-transition:.5s;-moz-transition:.5s;-o-transition:.5s;transition:.5s}
#set_password .modal-dialog{width:450px}
#logout .modal-dialog{width:450px}
#reset_password .modal-dialog{width:450px}
#verifycode .modal-dialog{width:450px}
.modal-dialog{display:table}
.cuccess_popups{float:right;width:auto;z-index:1;position:relative}
.succes_popups{float:left;width:100%;text-align:center}
.succes_popups span{float:left;width:100%;margin-bottom:10px;text-align:center}
.succes_popups span img{width:80px;margin:0 auto}
.succes_popups p{float:left;width:100%;font-size:16px;font-family:'open_sanssemibold';margin-top:0}
.comm_popups .modal-content{border-radius:0;float:left;width:100%}
.comm_popups .modal-header{padding:10px;border-bottom:1px solid #2cbddc;background-color:#2cbddc;color:#fff}
.comm_popups .modal-body{float:left;width:100%;padding:15px}
.comm_popups .modal-footer{float:left;width:100%;padding:10px 15px}
.comm_popups .modal-header .modal-title{font-family:'open_sanssemibold';font-size:17px}
.comm_popups .close{opacity:1!important;width:23px;position:absolute;right:10px;top:14px}
.popups_btn{text-align:center!important;padding:10px!important;display:block}
.btn_cmn_popups{background-color:#2cbddc;border-radius:0!important;color:#fff!important;padding:7px 20px!important;font-size:15px!important}
.btn_cmn_popups i{margin-right:5px}
.btn_cmn_popups img{float:left;width:21px;margin-right:1px}
.btn_cmn_popups:hover, .btn_cmn_popups:focus{background-color:#174b68;color:#fff;outline: none !important;box-shadow: none;}
.btn_cmn_cancel_popups{background-color:#2cbddc;border-radius:0!important;color:#fff!important;padding:6px 12px!important;font-size:15px!important}
.btn_cmn_cancel_popups i{margin-right:5px}
.btn_cmn_cancel_popups:hover,.btn_cmn_cancel_popups:focus{background-color:#174b68;color:#fff}
.navbar_logo{float:left!important;width:auto;margin-left:10px}
.navbar_logo .navbar-brand{float:left;width:100%;padding:5px;display:table}
.navbar_logo .navbar-brand img{width:80px;margin:0 auto;}
.logout_icon{padding:6px 3px!important;}
.logout_icon .fa{color:#000;font-size:30px!important;}
.setting_icon{padding:6px 3px!important;margin-right:12px}
.setting_icon .fa{color:#000;font-size:30px!important}
.header_inner{float:left;width:100%}
.inner_link{float:left;width:100%}
.inner_link p{color:#fff;margin-bottom:0}
.inner_link{float:left;width:100%;background-color:#4b4b4b;border-radius:0!important;cursor:pointer;border-left:2px solid #fd9c42!important;padding-left:12px!important}
.inner_link:hover,.inner_link:focus{background-color:#575656!important}
.login_btn{display:inline-block;width:100%;position:relative}
.popup_btn{display:inline-block;width:100%;margin-top:10px;text-align:center}
.popup_btn a:hover{opacity:.7;opacity:.7}
.section_details{float:left;width:100%;padding:20px;background-color:#fff;border-radius:5px;box-shadow:0 0 7px -3px #5e5c5c;}
.form_set{float:left;width:100%;margin-bottom:20px;}
.form_set label{font-weight:400;width:100%;display:inline-block;}
/* Sidebar section css Start here*/
.wrapper .content-wrapper {background: #fff;min-height: 100% !important; }
.wrapper .content-wrapper, .wrapper .main-footer, .wrapper .main-header {margin-left: 235px; margin-top: 95px;}
.main_data_section {float: left;width: 100%;margin-bottom: 55px;}
.sidebar-mini {padding: 0px !important;}
.main-sidebar .sidebar {float: left;width: 100%;padding: 0;}
.main-header.navbar {position: fixed;top: 0px;border-bottom: 3px solid #2f323a !important;padding: 5px 0 5px 0;background-size: auto;background-position: top;background-repeat: repeat;border-radius: 0;
border: none;width: 100%;justify-content: end;margin: 0;display: block;}
.main-header.navbar .navbar-nav {margin: 15px 0 0 120px;}
.main-header.navbar .navbar-nav .fa.fa-bars {color: #fff;font-size: 22px;}
.main-header .fa {font-size: 22px;}
.main-header.navbar .navbar-nav .nav-link {float: left;padding: 0;margin: 3px 0 0 20px;cursor: pointer;}
.main-header.navbar .navbar-nav .fa.fa-bars {color: #fff;font-size: 22px;}
.main-header.navbar .tophed {float: right;width: auto;padding: 20px 15px 0 0;}
.main-header.navbar .tophed .navbar-nav.ml-auto {margin: 0;}
.main-header.navbar .navbar-nav .nav-link {float: left;padding: 0;margin: 0 0 0 20px;cursor: pointer;}
.main-header.navbar .navbar-nav .nav-link .badge {width: auto;min-width: auto;padding: 3px;top: -8px;right: -6px;}
.sidebar-mini.sidebar-collapse .main-header.navbar.navbar-expand.bg-white.navbar-light.border-bottom {margin-left: 0px !important;}
.sidebar-mini.sidebar-collapse .main-header.navbar .navbar-nav {margin-left: 45px;}
.sidebar-mini.sidebar-collapse .main-header.navbar .tophed {width: auto;margin: 0 0px 0 0;}
#mainsidebar.main-sidebar {background-color: #2cbddc;top:103px;width: 220px;}
.sidebar-mini.sidebar-collapse .main-sidebar, .sidebar-mini.sidebar-collapse .main-sidebar::before{width: 45px !important;}
#mainsidebar .brand-link {float: left;width: 100%;padding:6px 0 8px 0;text-align: center;display: block;white-space: normal;line-height: normal;border-bottom: 1px solid #fff;margin: 4px 0 8px 0;}
.navbar-toggle-set .nav-item  .nav-link .fa{color: #fff !important;}
.navbar-toggle-set .nav-item  .nav-link {outline: none !important;padding: 0px !important; float: left !important; width: auto; display: table; margin-right: 8px !important; font-size: 27px;}
.navbar-toggle-set .nav-item{outline: none !important;display: table;width: auto;float: left;}
#mainsidebar .sidebar {overflow: visible;}
.profile_sidebar { float: left; width: 100%; color: #fff; padding: 7px 5px; text-align: center; border-top: 1px solid #6c6c6c; margin: 5px 0px 0px; border-bottom: 1px solid #6c6c6c;}
.profile_sidebar h4{font-family: 'open_sanssemibold'; font-size: 15px; margin-top: 0px; margin-bottom: 2px;}
.profile_sidebar span{font-family: 'open_sanssemibold';font-size: 13px;}
.profile_sidebar span i{font-size: 12px;}
.togl-after-click{display: none !important;}
.sidebar-collapse .profile_sidebar{display: none;}
.sidebar_serach .input-group .form-control{border: 0px !important;width: 100%;box-shadow: none;}
.sidebar_serach .input-group .form-control:focus{border: 0px !important;box-shadow: none;}
.sidebar_serach .input-group .input-group-btn{height: 100%; }
.sidebar_serach .input-group .input-group-btn .btn {padding: 6px 12px;background-color: #fff;border-color:#fff;color:#2f323a;box-shadow: none !important;}
.sidebar-collapse #mainsidebar.main-sidebar .sidebar .mt-2{border-top: 1px solid #6c6c6c;padding-top: 5px;margin-top: 8px !important;}
.sidebar-collapse #mainsidebar .nav-item .nav-link .togl-after-click{display: block !important;}
.sidebar-collapse #mainsidebar .nav-item .nav-link .togl-click{display: none !important;}
#mainsidebar.main-sidebar .sidebar .mt-2 {float: left;width: 100%;margin-top: 0px !important;}
#mainsidebar.main-sidebar .sidebar .mt-2 li {float: left;width: 100%;margin: 0px 0 1px 0;}
#mainsidebar.main-sidebar .sidebar .mt-2 li .nav-link {float: left;width: 100%;padding: 12px 14px;height: auto;line-height: normal;margin: 0;border: none;border-radius: 0px;}
#mainsidebar.sidebar-dark-primary .nav-sidebar > li > .nav-link.active {color: #fff;background-color: #174b68;}
#mainsidebar.main-sidebar .sidebar .mt-2 li .nav-link .fa {float: left;width: 15px;margin: 0;font-size: 16px;padding: 0px 0 0 0;color: #fff;}
#mainsidebar.main-sidebar .sidebar .mt-2 li .nav-link p {color: #fff;margin: 0 0 0 18px;font-size: 14px;}
#mainsidebar.sidebar-dark-primary .nav-sidebar > li > .nav-link:focus {color: #fff;background-color: #174b68;}
#mainsidebar.sidebar-dark-primary .nav-sidebar > li > .nav-link:hover {color: #fff;background-color: #174b68;}
#mainsidebar.sidebar-dark-primary .nav-sidebar > li.menu-open > .nav-link, .sidebar-dark-primary .nav-sidebar > li:hover > .nav-link {color: #fff;background-color: #174b68;}
#mainsidebar .brand-link .brand-image {opacity: 1;border-radius: 0;width: 85px;margin: 0 auto;float: none;max-height: none;}
.sidebar-mini.sidebar-collapse .brand-link .brand-image.img-circle {display: none;}
#mainsidebar .brand-link .brand-image.mini {width:38px;}
.brand-link .brand-image.mini {display: none;}
.sidebar-mini.sidebar-collapse .brand-link .brand-image.mini {display: block;}
#mainsidebar.main-sidebar .sidebar .user-panel .image {float: left;width: 100%;display: block;padding: 0;margin: 0;white-space: normal;text-align: center;}
#mainsidebar.main-sidebar .sidebar .user-panel .image img {width: auto;height: auto;}
#mainsidebar.main-sidebar .sidebar .user-panel .info {float: left;width: 100%;text-align: center;display: block;}
.user-panel .info .d-block {color: #fff !important;line-height: normal;margin: 5px 0 4px 0;padding: 0;float: left;font-size: 16px;width: 100%;}
.sidebar-mini.sidebar-collapse #mainsidebar.main-sidebar .sidebar .user-panel .image img {width: 86%; margin: 5px 0 4px 0;}
.sidebar-mini.sidebar-collapse #mainsidebar.main-sidebar .sidebar .user-panel .info {display: none;}
.sidebar-mini.sidebar-collapse .main-sidebar:hover {width: 4.6rem;}
.sidebar-mini.sidebar-collapse .main-sidebar:hover .sidebar ul li p {display: none;}
.sidebar-mini.sidebar-collapse .main-sidebar:hover .sidebar .user-panel .info {display: none !important;}
#mainsidebar.sidebar-dark-primary .nav-sidebar > li.menu-open > .nav-link, .sidebar-dark-primary .nav-sidebar > li:hover > .nav-link .fa {color: #fff !important;}
#mainsidebar.sidebar-dark-primary .nav-sidebar > li > .nav-link:focus .fa {color: #fff;}
#mainsidebar.sidebar-dark-primary .nav-sidebar.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {color: #fff;background-color: #174b68;}
#mainsidebar.main-sidebar .sidebar .mt-2 li.active .nav-link .fa {color: #fff;}
.comm_pop .modal-dialog .modal-title {text-align: center;color: #fff;}
.comm_pop .modal-header{display: inline-block;width: 100%;}
.nopadd {padding:0px !important;}
.sidebar-collapse .drop_arrow{display: none;}
.sidebar .user-panel .image {float: left;width: 100%;display: block;padding: 0;margin: 0;white-space: normal;text-align: center;}
.sidebar .user-panel {float: left;width: 100%;display: block;flex: auto;border-bottom: 1px solid #fff;margin: 0 0 10px 0;padding: 10px 0 5px 0;}
.sidebar .user-panel .image img {width: auto;height: auto;}
.sidebar .user-panel .info {float: left;width: 100%;text-align: center;display: block;}
.user-panel .info .d-block {color: #fff !important;line-height: normal;margin: 5px 0 4px 0;padding: 0;float: left;font-size: 16px;width: 100%;}
/* Sidebar section css Close here*/
.mainfooter{float:left;width:100%;z-index:9999;position:relative}
.botmfoot{float:left;width:100%;text-align:center;background-color:#174b68;padding:9px 0;position:fixed;bottom:0}
.botmfoot .copyright{margin:0;text-align:center;float:left;width:100%;color:#fff;font-size:13px}
.projects-table_list{float:left;width:100%}
.navbar-toggle-set{margin:5px 0 0!important;position:relative;float:right!important}
.navbar-toggle-set a{font-size:19px;position:relative;margin:0!important;-webkit-transition:.5s;-moz-transition:.5s;-o-transition:.5s;transition:.5s}
.navbar-toggle-set .img-responsive{width:25px}
.after-before-login-respo{float:right;width:auto;margin-top:6px!important;margin-left:5px}
.after-before-login-respo li a:hover,.after-before-login-respo li a:focus{background:none!important}
.after-before-login-respo .active .setting_icon i{color:#2cbddc}
.notification-bell{padding:6px 3px!important;position:relative;margin-right:20px;margin-top:2px}
.notification-bell img{width:25px}
.after-before-login-respo .active .active-img{display:block}
.after-before-login-respo .active .unactive-img{display:none}
.notification-bell .badge{background-color:#e40000;position:absolute;top:3px;right:-6px}
.notification-bell .active-img{display:none}
.nav-pills .nav-link.active{background-color:#2cbddc}
.profile-img-set{float:left;width:100%;background-color:#f0f0f0;padding:20px}
.cmn-btn{font-size:15px;background-color:#00b3ff;color:#fff;border-radius:0;padding:5px 11px;-webkit-transition:.5s;-moz-transition:.5s;-o-transition:.5s;transition:.5s}
.cmn-btn:hover,.cmn-btn:focus{opacity:.7;color:#fff;-webkit-transition:.5s;-moz-transition:.5s;-o-transition:.5s;transition:.5s}
.toggle{position:relative;width:90px;height:30px;border-radius:40px;float:none;display:inline-block;float:none;margin-right:10px}
.toggle input{opacity:0!important;cursor:pointer;position:absolute!important;top:0;left:0!important;z-index:6;width:90px;height:30px}
.toggle .btn{display:block;position:absolute;z-index:4;top:0;width:15px;height:15px;transition:left .25s ease;cursor:pointer}
.toggle .btn::after{content:"";position:absolute;top:1px;left:1px;width:25px;height:25px;background:#e3e3e3;border-radius:50px}
.toggle .bg{display:block;position:absolute;z-index:0;top:0;left:0;width:100%;height:100%;border-radius:40px;background:linear-gradient(#b90f0f,#b90f0f)}
.toggle input:checked ~ .bg{background:linear-gradient(#137124,#137124)}
.toggle input:checked ~ .btn{left:60px}
.toggle .btn p{margin-left:22px;color:#fff;font-size:13px}
.toggle .bg p{margin-left:22px;color:#fff;font-size:13px;display:none}
.toggle input:checked ~ .bg p{display:block;float:left;margin:7px 0 0 15px}
.comm_section{float:left;width:100%;height:100%;margin-bottom:20px}
.comm_section_heading{float:left;width:100%;margin-bottom:12px;border-bottom:1px solid #bdbdbd}
.comm_section_heading h4{float:left;margin-bottom:5px;width:auto;font-family:'open_sanssemibold';font-size:18px;margin-top:0;text-transform:uppercase;color:#2cbddc}
.comm_section_heading span{float:left;width:21px;margin-right:5px}
.comm_section_heading_new{float:left;width:100%;margin-bottom:12px;border-bottom:1px solid #bdbdbd}
.comm_section_heading_new h4{float:left;width:auto;font-family:'open_sanssemibold';font-size:15px;text-transform:uppercase;margin-top:7px;margin-bottom:11px}
.comm_section_heading_new span{float:left;width:21px;margin-right:5px}
.comm_section_details{float:left;width:100%;padding:10px;background-color:#fff;margin-top:20px;box-shadow:0 0 6px -3px #444;border-radius:4px}
.profile-img-set{float:left;width:100%;background-color:#f0f0f0;padding:20px;text-align:center}
.edit_icon{height:27px;width:27px;float:left;background-color:#2cbddc;color:#fff!important;font-size:16px;border-radius:100%;padding:3px 4px;position:absolute;right:9px;top:7px;cursor:pointer}
.edit_icon input{width:30px;position:absolute;top:0;left:0;visibility:hidden}
.date_time{float:right;width:auto;font-size:12px;margin-bottom:3px}
.setting_blogs_form{float:left;width:100%}
.setting_blogs_wrap{float:left;width:100%}
.setting_blogs_wrap .setting_blogs_form{margin-bottom:35px}
.botton_btn_group.barcos{margin-bottom:15px}
.showdetls{display:none}
.innerset{display:table!important;margin:15px auto;float:none;width:30%;padding:15px;box-shadow:0 0 7px #ccc}
.botton_btn_group.barcos .form-group label{text-align:left;padding:0 0 3px}
.showdetls .form-group{text-align:left;margin:0 0 5px}
.inrset.prnt{display:block;border-top:1px solid #ccc;padding:6px 0;margin:8px 0;float:left;width:100%}
.inrset.prnt h2{font-size:18px;margin:15px 0;float:left;width:100%;color:#333}
.inrset .form-group.col-md-6{margin:0 auto;display:table;float:none}
.botton_btn_group.barcos.visible .showdetls{display:block}
.showdetls_below{display:none}
.botton_btn_group.barcos .showdetls.qunty{display:block}
.showdetls.qunty .showdetls_below.asndriv{display:block}
.botton_btn_group.barcos.visible .showdetls{display:none}
.maintabset{float:left;width:100%}
.maintabset #myTabs li{float:left;width:50%;text-align:center;margin:0}
.maintabset #myTabs li a{margin-right:2px;line-height:1.42857143;border:none!important;border-radius:0;background-color:#e9e9e9;color:#4a4a4a;padding:8px 10px;font-size:16px}
.maintabset #myTabs li a:hover{background-color:#2cbddc;color:#fff}
.maintabset #myTabs li.active > a,.maintabset #myTabs li.active > a:focus,.maintabset #myTabs > li.active > a:hover{color:#fff;cursor:default;background-color:#2cbddc;border:1px solid #2cbddc}
.maintabset .tab-content{float:left;width:100%;margin:15px 0 10px}
.maintabset .tab-content .form-group span{float:left;width:100%;font-family:'open_sanssemibold'}
.maintabset.myord #myTabs li{width:33.33%}
.new_user_blogs{float:right;width:auto}
.new_user_blogs .user_data{float:left;list-style:none;margin-right:10px;padding:5px;background-color:#ececec;border-radius:100%;min-width:25px;min-height:25px;height:25px;text-align:center;font-size:11px;font-family:'open_sanssemibold';box-shadow:0 0 6px -2px #333;color:#be9503}
.new_user_blogs .user_data:last-child{margin-right:0}
.driver_data-set{float:left;width:100%;background-color:#fff;border-radius:7px;padding:5px 7px;box-shadow:0 0 5px -4px #333}
.driver_data-set h4{font-family:'open_sanssemibold';margin-top:0;margin-bottom:3px;font-size:13px;float:left;width:100%}
.driver_data-set h4 a{color:#be9503;text-decoration:none}
.driver_data-set h4 a:hover{color:#333}
.driver_data-set p{float:left;width:100%;margin-bottom:5px}
.panel-img{float:left;width:20px;margin-right:10px}
.popups_table .table{margin-bottom:0}
.popups_table{float:left;width:100%;background-color:#fff;border-radius:3px;padding:7px 5px;margin-bottom:8px;box-shadow:0 0 5px -4px #333}
.popups_table_set{float:left;width:100%}
.icon_link_set{float:left;width:100%;margin-bottom:0}
.table_btn_group{float:left;width:100%}
.projects-table_list_wrap{float:left;width:100%}
.table_btn_group .btn:nth-child(2){margin-left:5px}
.btn-custom-table{padding:4px 7px!important;font-size:14px!important;border-radius:0!important}
.icon_link_set li{float:left;width:auto;list-style:none;margin-right:8px}
.icon_link_set li:last-child{margin-right:0}
.icon_link_set li a img{float:left;width:22px}
.icon_link_set li a{text-decoration:none!important}
.icon_link_set li a span{font-family:'open_sanssemibold';color:#333;font-size:11px}
.head_btn{float:right;width:auto;margin-left:5px}
.group-img{float:left;width:100%}
.group-img img{float:left;width:90px;height:90px;object-fit:contain;object-position:left}
.header_btn_input{float:right;width:auto}
.header_btn{float:right;width:auto}
.respo_sidbar{float:left;width:100%;background-color:#174b68;padding:5px 22px;margin-top:93px;text-align:right;display:none}
.respo_sidbar a{padding:0}
.respo_sidbar a img{width:30px}
.loader{position:fixed;left:0;top:0;width:100%;height:100%;z-index:99999;background:rgba(255,255,255,.9)}
.loader .loader_content{margin:0 auto;position:absolute;left:50%;top:50%;transform:translate(-50%,-50%)}
.loader .loader_content .logo_set_loader{width:55px;margin:0 auto}
.checkbox_check_inner [type="checkbox"]:not(:checked),.checkbox_check_inner [type="checkbox"]:checked{position:absolute;left:-9999px;opacity:0}
.checkbox_check_inner [type="checkbox"]+label{position:relative;padding-left:25px;cursor:pointer;display:inline-block;height:20px;line-height:20px;font-size:1rem;-webkit-user-select:none;-moz-user-select:none;-khtml-user-select:none;-ms-user-select:none;margin-top:3px}
.checkbox_check_inner [type="checkbox"]+label:before,.checkbox_check_inner [type="checkbox"]:not(.filled-in)+label:after{content:'';position:absolute;top:0;left:0;width:18px;height:18px;z-index:0;border:2px solid #5a5a5a;border-radius:1px;margin-top:2px;transition:.2s}
.checkbox_check_inner [type="checkbox"]:not(.filled-in)+label:after{border:0;-webkit-transform:scale(0);transform:scale(0)}
.checkbox_check_inner [type="checkbox"]:not(:checked):disabled+label:before{border:none;background-color:rgba(0,0,0,0.26)}
.checkbox_check_inner [type="checkbox"]:checked+label:before{top:-4px;left:-5px;width:12px;height:22px;border-top:2px solid transparent;border-left:2px solid transparent;-webkit-transform:rotate(40deg);transform:rotate(40deg);-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-transform-origin:100% 100%;transform-origin:100% 100%}
.checkbox_check_inner [type="checkbox"]:checked:disabled+label:before{border-right:2px solid rgba(0,0,0,0.26);border-bottom:2px solid rgba(0,0,0,0.26)}
.checkbox_check_inner [type="checkbox"].filled-in+label:after{border-radius:2px}
.checkbox_check_inner [type="checkbox"].filled-in+label:before,.checkbox_check_inner [type="checkbox"].filled-in+label:after{content:'';left:0;position:absolute;transition:border .25s,background-color .25s,width .2s .1s,height .2s .1s,top .2s .1s,left .2s .1s;z-index:1}
.checkbox_check_inner [type="checkbox"].filled-in:not(:checked)+label:before{width:0;height:0;border:3px solid transparent;left:6px;top:10px;-webkit-transform:rotateZ(37deg);transform:rotateZ(37deg);-webkit-transform-origin:20% 40%;transform-origin:100% 100%}
.checkbox_check_inner [type="checkbox"].filled-in:not(:checked)+label:after{height:20px;width:20px;background-color:transparent;border:2px solid #5a5a5a;top:0;z-index:0}
.checkbox_check_inner [type="checkbox"].filled-in:checked+label:before{top:0;left:1px;width:8px;height:13px;border-top:2px solid transparent;border-left:2px solid transparent;border-right:2px solid #fff;border-bottom:2px solid #fff;-webkit-transform:rotateZ(37deg);transform:rotateZ(37deg);-webkit-transform-origin:100% 100%;transform-origin:100% 100%}
.checkbox_check_inner [type="checkbox"].filled-in:checked+label:after{top:0;width:20px;height:20px;z-index:0}
.checkbox_check_inner [type="checkbox"].filled-in:disabled:not(:checked)+label:before{background-color:transparent;border:2px solid transparent}
.checkbox_check_inner [type="checkbox"].filled-in:disabled:not(:checked)+label:after{border-color:transparent;background-color:#BDBDBD}
.checkbox_check_inner [type="checkbox"].filled-in:disabled:checked+label:before{background-color:transparent}
.checkbox_check_inner [type="checkbox"].filled-in:disabled:checked+label:after{background-color:#BDBDBD;border-color:#BDBDBD}
.checkbox_check_inner{display:inline-block;width:auto}
.checkbox_check_inner label{color:#4a4a4a!important;font-weight:400;font-size:14px!important;display:inline-block;line-height:19px;margin-bottom:0}
.checkbox_check_inner .filled-in[type="checkbox"]:not(:checked) + label::after{background-color:#fff!important;border:2px solid #403f3d!important;top:0;z-index:0}
.checkbox_check_inner .filled-in[type="checkbox"]:checked + label::after{top:0;border:2px solid #403f3d!important;background-color:#403f3d!important;z-index:0}
.nomargin{margin:0!important}
.full_width{float:left;width:100%}
#barcode_print .modal-dialog{width:450px}
.modal-header .close{z-index:1}
#barcode_print .modal-body{padding:35px 35px 0}
/* .barcode_img{float:none;width:50%;margin:0 auto} */
#barcode .modal-dialog{width:450px}
#cancel .modal-dialog{width:450px}
#cancel .modal-body{padding:35px 35px 0}
.sign_img{float:left;width:100%;text-align:center;position:relative}
.sign_img a{position:absolute;top:-45px;font-size:20px;color:#fff;background-color:#2cbddc;line-height:normal;padding:4px 10px;right:41%}
.sign_img a:hover,.sign_img a:focus{color:#fff}
.input-group-btn{vertical-align:bottom!important}
.setng_pg_bakg{min-height:230px;text-align:center;box-shadow:0 0 7px #ccc}
.input-group-btn{width:30px!important}
.input-group .input-group-btn :not(:root){position: absolute;right: 0;width: 30px;padding: 5px;height: 32px;bottom: 0;padding-top: 10px;}
.btn_right{text-align:right;margin:0 0 10px}
.rmv_whit_spac{white-space:normal}
.tp_tp{top:5px}
.settings .maintabset #myTabs li{width:25%}
.flo_lft{float:left}
.uptexthed{font-family:'open_sanssemibold';font-size:20px;text-align:center;position:relative;padding:15px 10px}
.uptexthed_on{font-family:'open_sanssemibold';font-size:20px;text-align:center;position:relative;padding:15px 10px}
.uptexthed_on:before{position:absolute;content:"";background-color:#2cbddc;width:133px;height:3px;bottom:12px;}
.uptexthed:before{position:absolute;content:"";background-color:#2cbddc;width:80px;height:3px;bottom:12px;}
.adm_seting .innerset{width:40%}
.pincode_tp_head{font-family:'open_sanssemibold';font-weight:400!important;font-size:16px;float:left}
.pin_cd_section{float:left;width:100%;position:relative;box-shadow:0 1px 5px 3px #eae6e6;font-family:'open_sanssemibold';font-size:18px;padding:20px;text-align:center;margin-top:25px}
.pin_cd_close{position:absolute;top:-7px;right:-15px}
.pin_cd_close img{width:30px}
.nofi_mess{float:none;width:60%;margin:0 auto;display:table}
.mart_top{margin-top:10px}
.nofi_mess .text_are_heit{height:110px!important}
.header_inner .rt_menu{float:right}
.statrpt .form-group{margin-bottom:0}
.tble_forms{float:left;width:100%;margin-bottom:15px}
.table-bordered.table_cmn .thead-dark th{background-color:#4a4a4a;border-color:#f1f1f1}
.table_cmn thead tr th{background-color:#e6e6e6;text-align:center;color:#4a4a4a;font-family:'open_sanssemibold';font-weight:400;text-transform:uppercase;font-size:13px}
.table_cmn tbody tr td{text-align:center;font-size:12px}
.statrpt{float:left;width:100%}
.cmn-back-btn{font-size:15px;background-color:#00b3ff;color:#fff;padding:5px 11px;-webkit-transition:.5s;-moz-transition:.5s;-o-transition:.5s;transition:.5s;border-radius:0}
.cmn-back-btn:hover,.cmn-back-btn:focus{background-color:#00b3fe;color:#fff;-webkit-transition:.5s;-moz-transition:.5s;-o-transition:.5s;transition:.5s}
.table thead th{background-color:#505758;font-weight:400;font-size:13px;color:#fff;padding:8px!important;vertical-align:middle!important;text-align:center}
.table tbody td{font-size:12px;font-weight:400;color:#505758;padding:8px!important;text-align:center;vertical-align:middle}
.myorder_wrap{float:left;width:100%}
.rt_top_new{float:left}
.popups_table table tr th{padding:5px!important;font-size:11px!important}
.popups_table table tr td{padding:5px!important;font-size:11px!important}
.tble_forms_data{float:left;width:100%;margin-bottom:15px}
.tble_forms_data li{float:left;width:25%;padding-right:15px;list-style:none;margin-bottom:5px}
.tble_forms_data li label{font-family:'open_sanssemibold';font-weight:400;float:left;width:100%;margin-bottom:5px}
.tble_forms_data li .forms_data{float:left;width:auto}
.back_btn{background-color:#403f3d;border-radius:0!important;color:#fff;font-size:12px!important;padding:5px 8px!important;line-height:normal;-webkit-transition:.5s;-moz-transition:.5s;-o-transition:.5s;transition:.5s}
.back_btn:hover,.back_btn:focus{background-color:#2d2c2b;color:#fff!important;-webkit-transition:.5s;-moz-transition:.5s;-o-transition:.5s;transition:.5s}
.back_btn{float:right;width:auto}
.actve{position:relative}
.inactve{position:relative}
.actve::before{content:"";position:absolute;width:12px;height:12px;background-color:green;border-radius:50%;left:36%;top:2px}
.inactve::before{content:"";position:absolute;width:12px;height:12px;background-color:red;border-radius:50%;left:35%;top:2px}
.disb_chekb{pointer-events:none;opacity:.6}
.input-group-btn{vertical-align:bottom!important;width:30px!important}
.lang_drop button{border:none!important;background:none!important;padding:0!important}
.lang_drop img{width:26px;height:26px;border-radius:50%;border:2px solid #fff;margin-left:0}
.nav-item .lang_drop button::after{color:#fff;margin-top:10px;margin-left:0}
.comm_pop .modal-content{border-radius:0}
.comm_pop .modal-header{padding:10px 15px;border-bottom:1px solid #00b3ff;background-color:#00b3ff;border-radius:0}
.comm_pop .modal-title{color:#fff;text-align:center;font-family:'Conv_Gilroy-Medium';text-transform:uppercase}
.comm_pop .modal-header .close{color:#fff;opacity:1;font-size:30px;line-height:28px;font-weight:400;padding:0}
.comm_pop .modal-body{display:inline-block;width:100%}
.div_center{margin:0 auto;width:auto;float:none;display:table}
.set_contact_data{float:left;width:100%}
.set_contact_data span{float:left;width:20%}
.set_contact_data span img{width:50px}
.contact_btn_div{float:left;width:100%;text-align:center}
.comm_pop .modal-dialog .modal-title{text-align:center;color:#fff}
.comm_pop .modal-header{display:inline-block;width:100%}
.profile-datails{float:left;width:100%}
.profi-details{float:left;width:auto}
.profi-details h4{font-family:'Conv_Gilroy-Medium';font-size:17px;margin-top:5px;margin-bottom:15px}
.profil_persnal-details{float:left;width:100%;margin-top:75px}
.profi_pers_data{float:left;width:100%;margin-bottom:15px}
.profi_pers_data label{float:left;width:100%;margin-right:0;font-weight:400!important;font-family:'Conv_Gilroy-Regular'}
.label-deta{float:left;width:auto}
.label-deta-password{float:left;width:auto;margin-top:3px}
#Change-password .modal-dialog{width:450px}
.profil_persnal-details h2{float:left;margin:0 0 20px;width:100%;color:#00b3ff;font-family:'Conv_Gilroy-Medium';font-size:22px;text-align:left}
.profil_persnal-details .row{float:left;width:100%;margin:0}
.profil-details-data .form-group label{float:left;width:100%}
.profile-img-set-center{float:none;width:auto;margin:0 auto;display:inline-block;text-align:center;height:100%;position:relative}
.profi-details{text-align:center}
.profi-details h4{font-family:'open_sanssemibold';font-size:17px;margin-top:0;margin-bottom:10px}
.profi_pers_data label{float:left;width:100%;margin-right:17px;font-weight:400;font-family:'open_sanssemibold'}
.profil-details-data{float:none;width:100%;max-width:500px;margin:0 auto;display:table}
.addrivsect .profil-details-data{max-width:800px;box-shadow:0 0 5px #ccc;padding:15px 5px;margin-bottom:20px}
.neword{color:#d43f3a!important}
.picord{color:#4cae4c!important}
.user-persnal-details{float:left;width:100%}
.persnal_details_popups{float:left;width:100%;font-size:14px;margin-bottom:5px}
.persnal_details_popups label{font-family:'open_sanssemibold';font-weight:400;float:left;width:auto;margin-right:5px;margin-bottom:0}
.persnal_details_popups span{float:left;width:17px;margin-top:2px;margin-right:4px}
.right_space{margin-right:8px}
.print_txt{font-size:18px;text-align:center;font-family:'open_sanssemibold';margin-bottom:10px}
.bar_shw_bck .print_act_txt{font-size:14px!important;font-family:open_sansregular;margin-top:10px;padding:5px 8px!important;line-height:normal}
.bar_shw_bck{padding:35px 0;min-height:220px;box-shadow:0 0 7px #ccc}/* new_assigned */
.asin_pick_dvr{font-size:16px;text-align:center;font-family:'open_sanssemibold'}
.asin_dvr_namno{float:left;width:100%;padding:30px 30px 0}
.asin_dvr_namno .print_act_txt{font-size:14px!important;font-family:open_sansregular;margin-top:10px;padding:5px 8px!important;line-height:normal}
.bar_shw_bck1 .print_act_txt{font-size:14px!important;font-family:'open_sanssemibold';margin-top:10px;padding:3px 8px!important}
.bar_shw_bck1{background-color:#f0f0f0;padding:20px 0;min-height:150px}
.tp_min_txt{font-family:'open_sanssemibold';font-size:22px;text-align:center;position:relative;padding:25px 10px;text-transform:uppercase}
.tp_min_txt:before{position:absolute;content:"";background-color:#2cbddc;width:97px;height:3px;bottom:20px}
.tp_no_txt{font-family:'open_sanssemibold';font-size:25px;color:#2cbddc}
.bld_txt{font-family:'open_sanssemibold';font-size:16px}
.min_wdth_pop .modal-dialog{width:450px}
.tp_padd{padding-top:18px!important}
.mar_tp_box{margin-top:25px}
.pop_font{font-size:15px!important}
.min_txt{color:#2cbddc;font-size:18px}
.bar_min_heigt{min-height:170px}
.nopadd{padding:0}
.padd-zero{padding:0!important}
.menu_wrapp{float:left;width:100%}
.lang_wrapp{position:relative;margin-top:0;background-color:#f2e5e5;padding:15px 5px;display:inline-block;text-align:center;margin-left:2px;line-height:41px}
.nopadd{padding:0!important}
.search_set{padding:6px 3px!important;position:relative;margin-right:16px;margin-top:2px}
.search_set img{width:23px}
.tohdset .botton_btn_group{margin:0 0 5px;text-align:right}
.tohdset .botton_btn_group .btn{padding:5px 10px!important}
.drivmang_wrap{float:left;width:100%;margin:10px 0}
.table_wrapp{float:left;width:100%;margin:0}
.actionsect i{color:#fb821f;font-size:24px;display:inline-block;margin:0 8px}
td.actionsect .act_span .fa.fa-eye{color:#198aef}
td.actionsect .act_span .fa.fa-edit{color:#4b8a48}
.actionsect .fa-trash{color:#d61f3e}
.header_btn_input_search{float:right;width:500px}
.header_btn_input_search .input-group .form-control{height:30px;padding:4px}
.header_btn_input_search .input-group .btn{padding:4px 9px}
.header_btn_input_search_new{float:right;width:auto}
.header_btn_input_search_new .input-group .form-control{height:30px;padding:4px}
.header_btn_input_search_new .input-group .btn{padding:4px 9px}
.lfnopadd{padding-left:0!important}
.rtnopadd{padding-right:0!important}
.nor_labl{font-family:'open_sanssemibold';font-weight:400!important;font-size:14px}
.wid_auto{width:80%}
.action_btn_pop{margin-right:20px;line-height:0}
.togle_pop{width:45px;height:25px}
.togle_pop input{width:50px;height:25px;margin:0!important}
.togle_pop input:checked ~ .btn{left:22px}
.togle_pop .btn::after{left:0;width:20px;height:20px}
.togle_mid_pop{width:55px;height:26px;margin:0}
.togle_mid_pop input{width:55px;height:26px;margin:0!important}
.togle_mid_pop .btn::after{left:1px;width:22px;height:22px}
.togle_mid_pop input:checked ~ .btn{left:29px}
.action_btn_pop a i{color:#fff;float:left;margin-right:15px;font-size:16px;margin-top:5px}
.lfnopadd_min{padding-left:0!important;padding-right:10px!important}
.rtnopadd_min{padding-right:0!important;padding-left:10px!important}
.mid_section{float:none;width:auto;margin:0 auto;display:table}
.notifcation_wrap{float:left;width:100%}
.notification_blog{float:left;width:100%;background-color:#e6e6e6;border-radius:3px;padding:10px;margin-bottom:12px;position:relative}
.notification_blog_data{float:left;width:auto}
.notification_blog_data h4{font-family:'open_sanssemibold';float:left;width:100%;margin-top:0;margin-bottom:5px;font-size:14px}
.notification_blog_data p{float:left;width:100%;margin-bottom:0;font-size:12px}
.notification_blog_data ul{float:left;width:100%;margin-bottom:0;margin-top:7px}
.notification_blog_data ul li{list-style:none;font-size:12px;margin-bottom:3px;line-height:12px;float:left;width:auto;margin-right:30px}
.notifcation_wrap .notification_blog.lnkset{background-color:#ecc9be}
.notifcation_wrap .notification_blog.lnkset .cmn_btn_in{padding:3px 5px!important;height:auto;line-height:normal;font-size:12px!important}
.ass_gen_code{font-size:15px;color:#2cbddc!important;margin-top:10px;display:inline-block;font-family:open_sanssemibold}
.ass_gen_code:hover{text-decoration:none}
#barcode_reprint .modal-dialog{width:450px}
#barcode_reprint .modal-body{padding:35px 35px 0}
.disno{display:none}
.ass_gen_code{position:relative}
.ass_gen_code::before{position:absolute;content:"";width:0;left:0;bottom:-5px;border-bottom:1px solid #2cbddc}
.ass_gen_code:hover::before{width:100%;transition:1s;}
.asignpic{color:#2e6da4!important}
.copy-rt{float:left;width:100%;font-size:12px;color:#fff;line-height:29px;text-align:right}
.nav-pills .nav-link.active,.nav-pills .show > .nav-link{background-color:#2cbddc}
.sttus_tble{float:left;width:auto;margin:2px 0 0;line-height:20px}
.sttus_tble li{display:inline-block;margin:0 0 0 10px;font-size:14px}
.sttus_tble li span{float:left;width:22px;height:22px;text-align:center;margin-top:0;margin-right:5px;color:#fff}
.new_stat{background-color:#d43f3a}
.Proc_stat{background-color:#2e6da4}
.Past_stat{background-color:#4cae4c}
.tble_forms_data li .forms_address_data{float:left;width:70%}
.hf_width{float:left;width:50%}
.paymod_dis{float:left;width:100%;padding:20px 40px;box-shadow:0 3px 6px 4px #f6f0f0;text-align:center;margin-bottom:25px}
.paymod_dis_txt{font-size:18px;font-family:'open_sanssemibold';padding-bottom:15px;text-transform:uppercase;position:relative}
.paymod_no_min{font-family:'open_sanssemibold';font-size:25px;color:#2cbddc}
.paymod_no_txt{font-family:'open_sansregular';font-size:16px}
.paymod_dis_txt::before{content:"";position:absolute;background-color:#2cbddc;bottom:5px;width:100%;height:2px;left:0}
.hf_padd{padding-left:10px!important;padding-right:10px!important}
.drvr_details{float:left;width:350px}
.color_drk{color:#4a4a4a}
.pono_head{padding:0!important;border-bottom:0 solid #aaa!important}
.bar_confrm{float:left;width:100%;font-size:15px;font-family:'open_sanssemibold';text-align:center}
.pop_man_txt{margin-top:10px;float:left;width:100%;font-size:15px;font-family:'open_sanssemibold';text-align:center;color:#2cbddc;margin-bottom:10px}
.clk_zom{float:left;width:100%;box-shadow: 0 2px 6px 2px #d9d9d9;position: relative;}
.clk_zom img{margin: 0 auto;}
.graph-sect img{width:auto;margin:0 auto}
.colr_br_shw{width: auto;float: left;}
.inl_colr{display:inline-block}
.red_color_blok{float:left;width:20px;height:20px;background-color:#c0504d}
.red_color_txt{font-size:16px;font-family:'open_sansregular';line-height:normal;width: auto !important;}
.grn_color_blok{float:left;width:20px;height:20px;background-color:#4f81bd}
.rev_incm{position:absolute;left:100px;top:200px;font-family:'open_sanssemibold';font-weight:400;font-size:16px;text-align:center;box-shadow:0 3px 6px 4px #f6f0f0;padding:30px 40px}
.rev_incm_amt{color:#2cbddc;font-family:'open_sansbold';font-size:22px}
.bar_chart_snd img{width:300px}
.bar_top_line{border-top:1px solid #bdbdbd;padding-top:25px;float:left;width:100%}
.pos_rela{position:relative}
.grnor_color_blok{float:left;width:20px;height:20px;background-color:#0dbf52}
.export_btn{background-color:#403f3d;border-radius:0!important;color:#fff;font-size:14px!important;padding:5px 8px!important;-webkit-transition:.5s;-moz-transition:.5s;-o-transition:.5s;transition:.5s}
.export_btn:hover,.export_btn:focus{background-color:#2d2c2b!important;color:#fff!important;-webkit-transition:.5s;-moz-transition:.5s;-o-transition:.5s;transition:.5s}
.no-record-data{float:left;width:100%;text-align:center;margin-top:19px;margin-bottom:10px;display:none}
.no-record-data span{float:left;width:100%;margin-bottom:5px}
.no-record-data span img{width:75px;margin:0 auto}
.no-record-data h4{float:left;width:100%;font-family:'open_sanssemibold';margin-top:0;margin-bottom:0;color:#0a1628}
.export_btn{background-color:#403f3d;border-radius:0;color:#fff;font-size:14px;padding:5px 8px;-webkit-transition:.5s;-moz-transition:.5s;-o-transition:.5s;transition:.5s}
.export_btn:hover,.export_btn:focus{background-color:#2d2c2b;color:#fff;-webkit-transition:.5s;-moz-transition:.5s;-o-transition:.5s;transition:.5s}
#report .modal-dialog{width:800px}

.rev_incm{position:absolute;left:80px;top:190px;font-family:'open_sanssemibold';font-weight:400;font-size:16px;text-align:center;box-shadow:0 3px 6px 4px #f6f0f0;padding:30px 40px}
.expt_btn{font-size:14px!important;padding:4px 10px!important}
.logi_sign_input .form-control:hover,.logi_sign_input .form-control:focus{box-shadow:none;border-color:#f7844d}
.login_sign_all_wraper{float:left;width:100%;padding:0;background-color:#fff;position:fixed;height:100%;background-image:url(../img/login-bg.png);background-position:100%;background-repeat:no-repeat;background-size:cover}
/*.login_sign_all_wraper::after{content:"";float:left;width:100%;height:100%;background:rgba(255,255,255,0.5);position:absolute;left:0;top:0}*/
.logi_sign_main_page{float:none;width:100%;max-width:500px;margin:0 auto;display:table;padding:15px;background-color:#fff;border-radius:15px;position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);z-index:1}
.form-group.logi_sign_input{position:relative}
#password + .glyphicon{cursor:pointer;pointer-events:all}
#Verification_modal .modal-dialog{width:450px}
#Verification_modal .form-group{margin-bottom:0}
.forgot_link{text-align:right}
.forg_password{color:#337ab7;float:right;width:100%;text-align:right;margin-top:5px}
.wrapper .content-wrapper{background:#fff;min-height:100% !important;margin-left:235px;margin-top:105px;}
.cont_links_set{float:left;width:100%;background-color:#e4eff1;padding:15px;border-radius:4px}
.mag_cont .maintabset #myTabs li{width:25%}
.mag_cont .maintabset #myTabs li.active > a, 
.mag_cont .maintabset #myTabs li.active > a:focus, 
.mag_cont .maintabset #myTabs > li.active > a:hover {color: #fff;cursor: default;background-color: #174b68;border: 1px solid #174b68;}
.mag_cont .maintabset #myTabs li a {margin-right: 2px;line-height: 1.42857143;border: none !important;border-radius: 0;background-color: #e9e9e9;color: #4a4a4a;padding: 8px 8px;font-size: 15px;}
.mag_cont .maintabset #myTabs li a:hover {margin-right: 2px;line-height: 1.42857143;border: none !important;border-radius: 0;background-color: #2cbddc;color: #fff;padding: 8px 8px;font-size: 15px;}
.com_table .table-responsive{background-color:#fff}
.com_table .table-responsive .table th{background-color:#fff}
.minlg_wdth_pop .modal-dialog{width:650px}
#off_usr .profi_pers_data{border-bottom:1px solid silver;padding-bottom:10px}
#sendr .profi_pers_data{border-bottom:1px solid silver;padding-bottom:10px}
#off_usr .form-group{margin-bottom:0}
#sendr .form-group{margin-bottom:0}
.enter-code-pop{text-align:center}
.profile-img-set .picset{float:left;width:140px;height:140px;margin-bottom:-85px;padding:5px;background-color:#fff;border-radius:100%;margin-right:15px;position:relative}
.profile-img-set .picset img{float:left;width:100%;height:100%;border-radius:100%}
.profile-img-set .picset{float:none;width:120px;height:120px;padding:4px;background-color:#fff;border-radius:100%;position:relative;margin:0 auto -70px!important;display:inline-block}
#top_iput_btn .input-group .input-group-btn :not(:root) {height: 30px;padding-top: 8px;}
#viw_drive .profi_pers_data {border-bottom: 1px solid silver;padding-bottom: 10px;}
.respo_graph-sect img{float: none;margin: 0 auto;display: table;width: auto;}
.id_bar_min{position: relative;width: 100%;text-align: center;}
.id_bar_min_hei{position: relative;width: 100%;min-height: 220px;text-align: center;padding: 35px 0;box-shadow: 0 0 7px #ccc;}
.id_bar_min .barcode_img {position: absolute;top: 0;bottom: 0;margin: auto;left: 0;right: 0;width:auto;}
.id_bar_min_hei .barcode_img {position: absolute;top: 0;bottom: 0;margin: auto;left: 0;right: 0;width:auto;}
.print_act_txt{margin-top: -80px;}
.box_min_hei{min-height: 190px;}
.upload_img i{font-size:18px;}
.carousel-control{background-image:none !important;}
.img-responsive{width:100%;height:auto;}
.lft_carosel{width:50px !important;}
.lft_carosel .glyphicon {color: #000;font-size: 35px !important;}
.rht_carosel{width:50px !important;}
.rht_carosel .glyphicon {color: #000;font-size: 35px !important;}
.full_text{float:left;width:100%;}
.blck_colr{color:#403f3d !important;}
.text_tnc_heit textarea{height:200px !important;}
.cust_sort_bt{width:200px;}
.drop_down_head {background-color: #4a4a4a !important;color: #fff !important;padding: 10px 14px !important;width: 100%;border-radius: 0px !important;text-align: left;font-size: 14px;font-family: 'open_sansregular';position: relative;}
.drop_down_head a:hover , .drop_down_head a:focus {text-decoration: none;}
.drop_down_head .panel-title {font-size: 14px;}
.pop_icon{position: absolute;right: 10px;top: 4px;}
.pop_faq_icn{color: #fff;font-size: 18px;margin-right: 8px;}
.pop_faq_icn:hover,.pop_faq_icn:focus{color: #fff;}
.colss_txtare_box{background-color:#e9e9e9;}
.lef_space{margin-left: 8px;}
.add_btn{background-color: #2cbddc;border-radius: 0px !important;color: #ffffff;padding: 5px 12px !important;font-size: 14px;}
.add_btn:hover, .add_btn:focus{color: #ffffff !important;}
.order_reports{display:none;}
.cust_show{display:none;}
.drver_report_sw{display:none;}
.drivr_nam{display:none;}
.comodr_fmt_dte{display:none;}
.rechub_tmedte{display:none;}
.drvr_name{display:none;}
.no_frm_date{display:none;}
.no_drvr_name{display:none;}
#accordion .panel-body{border: 1px solid #4a4a4a !important;border-top: 0px !important;}
.respons_btn_sect{float: left;width: 100%;position: absolute;bottom: 15px;}
.drk_rd_clor{background-color: #c43d83;}
.orge_clor{background-color: #f27f38;}
.sky_clor{background-color: #3dc4c2;}
.gry_clor{background-color: #8c8c8c;}
.tot_ordr_rved {box-shadow: 0px 3px 6px 4px #f6f0f0;width: auto;display: inline-block;padding: 15px 25px;margin-bottom: 15px;}
.totl_ordr_bltxt {font-size: 16px;font-family: 'open_sanssemibold';text-transform: uppercase;}
.totl_ordr_mntxt {font-family: 'open_sanssemibold';font-size: 18px;color:#2cbddc;}
.order_recev_width {width: 20%;float: left;padding: 0px 15px;}
.box_ord_resv {float: none;width: 35px;height: 35px;text-align: center;color: #fff;margin: 0 auto;font-size: 20px;padding-top: 3px;}
.ordr_resiv_txt {font-size: 15px;font-family: 'open_sanssemibold';text-transform: uppercase;text-align: center;margin-top: 10px;border-top: 2px solid #f70;padding-top: 6px;}
.gren_colr {background-color: #1f9c0e;}
.bren_colr {background-color: #8573eb;}
.top_margin{margin-top: 25px;}
.sort_function::after {font-family: "FontAwesome";content: "\f0dc";display: inline-block;top: 0px;right: -18px;position: absolute;font-size: 18px;width: 18px;cursor: pointer;}
.sort_function {position: relative;width: 85%;}
.projects-table_list .pagination li > a {color: #4a4a4a;}
.projects-table_list .pagination li > a:hover {background-color:#2cbddc;color: #fff;transition: .1s ease-in-out;}
.addrate_tptext{font-family: 'open_sanssemibold';float: left;width: 100%;font-size: 16px;margin-bottom: 8px;}
.hdr_btn_top a{margin-top:22px;height:35px;}
.add_rte_sze{float: left;width: 100%;border-bottom: 1px solid #a3a3a3;margin-bottom: 14px;}
.upload_hw_wok .delet_hw i{font-size: 24px;color:#b90f0f;margin-right:10px;}
.upload_hw_wok .upld_hw i{color: #fb821f;font-size: 24px;display: inline-block;margin-right:10px;}
.ulp_hw_togmain{float: right;width:auto;}
.discript_text{font-family: 'open_sanssemibold';float: left;width: 100%;font-size: 16px;margin-bottom: 8px;border-top: 1px solid #9b9b9b;margin-top: 8px;padding-top: 6px;}
.rit_auto_width{float: right;width: auto;}
.resvd_incm {float: left;width: 100%;text-align: center;margin: 15px 0px;}
.resvd_incm_blctxt {font-family: 'open_sanssemibold';font-size: 18px;}
.resvd_incm_mntxt {color:#2cbddc;font-family: 'open_sansbold';font-size: 22px;}
.gry_color_blok {float: left;width: 20px;height: 20px;background-color: #370063;}
.yelw_color_blok {float: left;width: 20px;height: 20px;background-color: #ce9a27;}
.lstgph_view{float:left;width: 100%;}
.lstgph_view #myTabs {float:right;width: 30%;}
.lstgph_view #myTabs li {width:50%;}
.lstgph_view #myTabs li a {margin-left: 2px;line-height: normal;padding: 6px 8px;font-size: 16px;}
.odr_repor_tb #myTabs{float: left !important;width: 100% !important;}
.odr_repor_tb #myTabs li {width: 33.3%;}
.odr_repor_tb #myTabs li a{margin-right: 2px;padding: 8px 10px;font-size: 17px;}
.serch_btn{font-size: 14px !important;padding: 5px 10px !important;background-color: #2cbddc;border-radius: 0 !important;color: #fff !important;margin-top: 25px;}

/* loader css*/
.divid { position: fixed; left: 0; right: 0; width: 100%; background-color: rgba(225,225,225,0.90); height: 100%; top: 0; z-index: 999999; text-align: center; display: block !important; overflow-y: hidden !important; }
@-webkit-keyframes dyinglight {
15% {-webkit-transform: scale(1.6);transform: scale(1.6);}
50% {-webkit-transform: rotate(-89deg);transform: rotate(-89deg);}
100% {-webkit-transform: rotate(-90deg);transform: rotate(-90deg);}
}

@keyframes dyinglight {
15% {-webkit-transform: scale(1.6);transform: scale(1.6);}
50% {-webkit-transform: rotate(-89deg);transform: rotate(-89deg);}
100% {-webkit-transform: rotate(-90deg);transform: rotate(-90deg);}
}
.dl { position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); display: inline-block; }
.dl__square { display: block; width: 46px; height:48px; margin: 2px 0 0 0; }
.dl__square img { width: 100%; }
.dl__container { position: absolute; left: 0; top: 0; bottom: 0; right: 0; -webkit-transform-origin: 50% 50% 0; transform-origin: 50% 50% 0; -webkit-animation: dyinglight 1s ease infinite; animation: dyinglight 1s ease infinite; -webkit-backface-visibility: hidden; backface-visibility: hidden; }
.dl__corner--top:before, .dl__corner--top:after, .dl__corner--bottom:before, .dl__corner--bottom:after { position: absolute; width: 17px; height: 17px; color: #2cbddc; content: ""; }
.dl__corner--top:before { border-left: 1px solid; border-top: 1px solid; top: -6px; left: -6px; }
.dl__corner--top:after { border-right: 1px solid; border-top: 1px solid; top: -6px; right: -6px; }
.dl__corner--bottom:before { border-left: 1px solid; border-bottom: 1px solid; bottom: -6px; left: -6px; }
.dl__corner--bottom:after { border-right: 1px solid; border-bottom: 1px solid; bottom: -6px; right: -6px; }
/* loader css*/
.form-group.disfild .form-control { background-color: #a4a4a4; } 
.addrivsect .profil-details-data .chngpass a { font-size: 16px; float: right; } 
.addrivsect .profil-details-data .chngpass a .fa.fa-lock { margin: 0 10px 0 0; } 
.header_btn_input_search.usrsrch .input-group .input-group-btn { display: table-cell; right: 0; } 
.header_btn_input_search.usrsrch .input-group { margin: 0 0 5px 0; } 
.header_btn_input_search.usrsrch .input-group .form-control { padding: 9px 6px; height: auto; border: 1px solid #ccc; box-shadow: none;} 
.header_btn_input_search.usrsrch .input-group .input-group-btn :not(:root){width: 36px; padding:12px 0; height: 37px;} 
.sidebar-mini.modal-open #mainsidebar { z-index: 0; } 
.sidebar-mini.modal-open .mainfooter { z-index: 0; } 
.comm_section_heading h3 { float: left; margin-bottom: 5px; width: auto; font-family: 'open_sanssemibold'; font-size: 16px; 
margin-top: 12px; text-transform: normal; color: #174b68;} 
.form-group textarea.form-control { background:#fff;} 
.modal-backdrop.fade.in { z-index: 9999;} 
.maintabset.myord .full_width .card.card-info.card-outline {float: left; width: 100%; position: relative; display: block; flex: auto;} 
.maintabset.myord .full_width .card.card-info.card-outline .ck.ck-content { height: 160px;} 
.projects-table_list .table-responsive {z-index: 0; position: relative; display: inline-block;}
.popups_btn { float: left; width: 100%; } 
.popups_btn .btn { vertical-align: top;}
.maintabset.myord .full_width .popups_btn {
    margin-bottom: 15px;
}